*{
    margin: 0;
    padding: 0;
    font-family:  "PT Sans";
}


.allBackground{
    background-color: #F2F2F2;
    height: 100%;
     width: 100%;
     background-position: center;
     background-size: cover;
     position: absolute;
}



.header a{
    
    color: #644F9C;
    text-decoration: none;
    padding: 18px;
    
}

.header a:hover {
    
    color: #FF6F00;
  }

.Container{
    display: flex;
}
.container-1{
    display: flex;
    
}
.button-box{
    width: 220px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 20px;
    margin-left: 250px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:linear-gradient(to right, #404040, #FF6F00);
    border-radius: 20px;
    transition: .5s;
}

.container-2{
    display: flex;
    margin-top: 30px;
    
}
.fa-bullhorn{
    color: #00008B;
    background-color: white;
    padding: 30px 30px 30px 30px;
    border-radius: 50%;
   margin-left: 240px;
   margin-top: 30px;
}
.fa-paper-plane{
    color: #00008B;
    background-color: white;
    padding: 30px 30px 30px 30px;
    border-radius: 50%;
   margin-left: 240px;
   margin-top: 30px;
}
.fa-user-large{
    color: #00008B;
    background-color: white;
    padding: 30px 30px 30px 30px;
    border-radius: 50%;
   margin-left: 240px;
   margin-top: 30px;
}

.icons{
    display: flex;
}
.btn{
    background-color: #644F9C;
    border: none;
    margin-left: 200px;
    margin-top: 30px;
    padding: 10px 90px;
    text-align: center;
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    cursor: pointer;
}
.header{
    display: flex;

}
.btn-1{
    background-color: #F2F2F2;
    border: none;
    margin-left: 200px;
    margin-top: 30px;
    padding: 10px 90px;
    text-align: center;
    display: inline-block;
    color: #404040;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    border-radius: 16px;
    cursor: pointer;
}
.btn-1:hover{
background-color: #FF6F00;
}
.title{
    margin-top: 30px;
    margin-left: 180px;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 250px;
    height: 120px; 
    width: 220px ;
    padding: 60px 70px 30px 120px;
    background-color: #644F9C;
}
.hearder-2{
    display: flex;
}
.review{
    background-color: #644F9C;
    color:white;
    margin-top: 20px;
    height: 500px;
}
.head{
    margin-top:60px;
    margin-left: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: white;
    color:#644F9C;
    border-radius: 50%;
    padding: 120px;
    width: 100px;
}
.head2{
    margin-top:60px;
    margin-left: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #FF6F00;
    color: white;
    border-radius: 50%;
    padding: 97px;
    width: 120px;
}
.circles{
    display: flex;
}
.circle{
    margin-top:60px;
    margin-left: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #644F9C;
    color: white;
    border-radius: 50%;
    padding: 97px;
    width: 120px;
    border: 2px dotted white;
    font-weight: 500;
    border-spacing:100px;


}
.footer{
    background-color: #F2F2F2;
    padding: 70px 0;
    margin-top: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.container{
    max-width:1170px;

    margin: auto;

}
.footer-col{
    width:25%;
    padding: 0 20pxpx;
}
.footer-col h4{
    font-size:18px;
    color: #644F9C;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.footer-col ul li:not(:last-child){
    margin-bottom:20px;
}
.footer-col ul li a{
    font-size:16px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%
}
.bold{
    font-weight: bold;
}
.fa-instagram{
    color: #e84393;
}
.fa-youtube{
    color: #e84118;
}
.fa-facebook{
 color: #3b5998;
}


